# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app

/proj.ios_mac/SimpleGame.xcodeproj/project.xcworkspace/xcuserdata/guanghui.xcuserdatad/UserInterfaceState.xcuserstate
/proj.ios_mac/SimpleGame.xcodeproj/xcuserdata/guanghui.xcuserdatad/xcdebugger/
